# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
infinite-scroll/node_modules
infinite-scroll/.pnp
infinite-scroll/.pnp.js
/node_modules
/.pnp
.pnp.js

# testing
infinite-scroll/coverage


